/*--------------------(  Dito lahat lalagay mga design CSS ng divs )--------------------*/
.main-container {
  padding: 20px;
}

/********** Sample Header CSS **********/
.sample-header {
  position: relative;
  background-color: var(--primary-color-dark);
  border-radius: 15px;
  margin: auto;
  padding: 27px;
  overflow: hidden;
  margin-top: 28px;
}
.sample-header h1 {
    font-family: 'lora';
    font-size: 1.2em;
    font-weight: 900;
    text-align: center;
    color: var(--primary-text-light);
}
.sample-header p {
    font-family: 'poppins-light';
    font-weight: 100;
    text-align: left;
    font-size: .8em;
    color: var(--primary-text-light);
    margin-top:20px ;
}
/********** Sample Button CSS **********/
.sample-btn {
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  font-family: "poppins-bold";
  font-size: 1.4em;
  background-color: var(--button-primary-bg);
  color: var(--button-primary-text);
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin: auto;
  width: 70%;
  top: 150px;
}
.sample-btn:active {
    transform: scale(0.95);
}

.sample-footer {
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    overflow: hidden;
    top: 350px;
}
.sample-footer h1 {
    font-family: 'poppins-light';
    font-size: .8em;
    color: var(--primary-color);
}

/********** Sample Error Vibration validationn error CSS **********/
.vibrate-not-work {
    position: absolute;
    text-align: center;
    color: var(--primary-color-red);
    font-size: .8em;
    font-family: 'poppins-bold';
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

table, th, td{
  border: 1px solid red;
}


/*pang details*/
.details {
  margin: 20px 20px 0 0;
  --padding: 10px;
  border: 1px solid #8d8d8d;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.details + .details {
  margin-top: 15px;
}

.details__container {
 border: 1px solid red;
}

.details__title {
  --width: 20px;
  --height: 3px;
  --radius: 1px;
  --color: currentColor;
  margin: 0;
  padding: var(--padding) calc(var(--width) * 2) var(--padding) var(--padding);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  position: relative;
}

.details__title:before,
.details__title:after {
  content: '';
  display: block;
  width: var(--width);
  height: var(--height);
  background-color: var(--color);
  position: absolute;
  border-radius: var(--radius);
  top: calc(50% - (var(--height) / 2));
  right: calc(var(--width) / 2);
  transition: all 0.2s ease-in-out;
}

.details__title:after {
  rotate: 90deg;
}

.details__container[open] .details__title:before {
  rotate: 45deg;
}

.details__container[open] .details__title:after {
  rotate: 135deg;
}

.details__container[open] .details__title {
  background-color: #f3f3f3;
}

.details__summary::marker {
  content: '';
}

/* Transition for the content */
.details__desc {
  visibility: hidden;
  display: grid;
  grid-template-rows: 0fr;
  max-height: 0;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  padding-inline: var(--padding);
  padding-block: 0;
  pointer-events: none;
  background-color: aqua;
  border: 1px solid red;
}

.details__container[open] + .details__desc {
  visibility: visible;
  grid-template-rows: 1fr;
  max-height: 500px;  /* Adjust this to your needs */
  padding-block: var(--padding);
  pointer-events: auto;
}

.details__desc-inner {
  min-height: 0;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
}